header {
    width: 100%;
    margin: 0 auto;
    background: #8bc34a;
}

header .fixed-top {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

header .container {
    max-width: 100% !important;
    padding: 4px 5px;
    margin: 3px 5px;
}

header a.logo {
    margin-right: 13px;
    margin-left: 13px;
    padding: 0;
}

#responsive-navbar-nav {
    justify-content: flex-end !important;
}

header .navbar-collapse.collapse.show {
    padding-top: 10px;
}

main {
    margin: 0 8px;
}

.slick-arrow {
    z-index: 1;
    margin-top: -20px;
}

.slick-prev {
    left: 7px !important;
}

.slick-next {
    right: 7px !important;
}

form {
    margin: 0 5px;
}

form .actions {
    text-align: right;
}

form .btn {
    background: rgb(3, 103, 72);
}

.mx-auto {
    margin: 0 0 !important;
    padding: 0 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.card {
    margin: 3px 5px !important;
    border: .5px solid #dddddd !important;
    cursor: pointer;
    min-width: 45% !important;
}

.nomodal {
    z-index: 0 !important;
	display: none !important;
}

.modal {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
    background: rgba(0, 0, 0, 0.55) !important;
    width: 100%  !important;
    height: 100% !important;
}

.close {
    float: right;
    z-index: 101;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
}

.content {
    margin-bottom: auto !important;
	border-radius: 5px !important;
	background-color: white !important;
	animation: modal-grow 0.4s ease forwards !important;
}

.innerContent {
    background-color: white !important;
	animation: modal-opacity 0.35s ease forwards 0.35s !important;
}

footer {
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 40px;
    padding: 0 25px;
    font-size: 12px;
    background: aliceblue;
}

footer .nav-pills {
    width: 60%;
}

footer .nav-pills .nav-link.active, footer .nav-pills .show>.nav-link {
    color: blue;
    text-decoration: underline;
    background-color: none !important;
    background: none !important;
}
footer .nav-pills .nav-link {
    background: none;
    border-radius: 0;
    height: 12px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 11.5px;
    margin-bottom: 7.5px;
    padding-left: 7px;
    padding-right: 7px;
    line-height: 13px;
}

footer.rtl .nav-pills .nav-link {
    border-left: 1px solid;
}

footer.ltr .nav-pills .nav-link {
    border-right: 1px solid;
}

footer.rtl .nav-pills > .nav-item:last-child > .nav-link {
    border-left: none;
}

footer.ltr .nav-pills > .nav-item:last-child > .nav-link {
    border-right: none;
}

footer p {
    width: 35%;
    margin: 9px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-end;
}